<header>
    <nav>
        <a href="/">YourMovies</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Add new author</a></li>
        </ul>
    </nav>
</header>